body{
   background-image: url(img/testBG.png);
   background-color: rgba(0, 0, 0, 0.5);
   background-blend-mode: darken;
   color:#FFFFFF;
   background-attachment: fixed;
}
hr{
   margin: 10px 30px;
}

.intro {
   text-align: center;
}
.arrow{
   display: inline-block;
   width: 30px;
   height: 30px;
   border: 5px solid;
   border-color:  transparent transparent #FFFFFF #FFFFFF;
   transform: rotate(-45deg);
   text-align: center;
   margin-bottom: 100px;
}
.title{
   font-size: 30px;
   font-style: oblique;
   text-align: center;
}
.cards{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.card{
   width:200px;
   font-size: 15px;
   text-align: center;
   border-radius: 20px;
   box-shadow: 0 2px 5px #ccc;
   margin: 10px;
   padding: 10px 5px;
   background-color: rgba(64,64,64,1.0);
}
.member .cards .card .content{
   padding: 30px;
}
.role{
	font-size: 20px;
}
.white{
   color: #FFFFFF;
}
